Package: salt-formula-isc-dhcp
Version: 0.3.1
Architecture: all
Maintainer: Chandra Dodda <cdodda@mirantis.com>
Installed-Size: 38
Section: admin
Priority: optional
Homepage: http://www.mirantis.com
Description: isc-dhcp salt formula
 Install and configure isc-dhcp server
