Source: salt-formula-isc-dhcp
Maintainer: Chandra Dodda <cdodda@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.mirantis.com
Vcs-Browser: https://github.com/reddydodda/salt-formula-isc-dhcp
Vcs-Git: https://github.com/reddydodda/salt-formula-isc-dhcp.git

Package: salt-formula-isc-dhcp
Architecture: all
Depends: ${misc:Depends}
Description: isc-dhcp salt formula
 Install and configure isc-dhcp server
